<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="p2/css/mdb.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <title>Registrasi/title>
</head>
<body>
    <div class="card card-registrasi">
        <div class="card-title">
            <h2>REGISTRASI</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="form3Example1">Username</label>
                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label" for="form3Example2">Email</label>
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label" for="form3Example1">Kata Sandi</label>
                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label" for="form3Example2">Konfirmasi Kata Sandi</label>
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                        </div>
                    </div>
                </div>
            
                <!-- 2 column grid layout for inline styling -->
             
                <!-- Submit button -->
                <div class="row d-flex justify-content-between m-auto ms-md-auto mt-4 mb-3">
                    <div class="col">
                        <button type="submit" class="btn btn-block">REGISTER</button>
                    </div>
                </div>
<!--         
                </div> -->
            
            </form>
        </div>
    </div>

    <!-- script js -->
    <script src="p2/js/mdb.min.js"></script>
</body>
</html>